body{
    margin: 0;
    padding: 0;
}

.product-list{
    padding: 2rem;
    display: grid;
    align-items: center;
    gap: 2rem;
}

.product-list img{
    object-fit: cover;
    height: 15rem;
}

.row{
    justify-content: center;
}

.card{
    padding: 1rem 1rem;
}

p.price{
    display: flex;
    flex-direction: column;
    justify-content: flex-end
    
}

p.card-text{
    font-size: 10px;
}

h2.PageTitle{
    display: flex;
    justify-content: center;  
}

section.p{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
}
p{
    font-size: 14px;
    
}

footer.rod{
    display: flex;
    justify-content: center;
}

p.Copyright{
    display: flex;
    justify-content: center;
}

